a{
    cursor:pointer;
    margin: 10px;
 color: rgb(255, 255, 255);  
}
a:hover {
    color: rgb(246, 255, 0);
}
#icon{
   
    font-size: 30px;
}
.logo{
    color: rgb(252, 252, 252);
}
.dropdown-menu{
    background-color: rgba(0, 85, 222, 0.654);
}
