.card{
    margin-top: 80px;
    border: none;
    width:500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transform: hsla(205,46%,  30%,1);
    background: linear-gradient(to bottom, #000000 24%, #ffffff 100%);
}
.card h1 ,h6{
 color:#fff;
}
label{
    color:#fff;
}
body{
    background-color: red;
    background-image: url('https://wallpaperaccess.com/full/51363.jpg');
}